[submodule "src/module/libcstring"]
	path = src/module/libcstring
	url = https://github.com/urbanspr1nter/libcstring.git
[submodule "src/module/linenoise"]
	path = src/module/linenoise
	url = https://github.com/urbanspr1nter/linenoise.git
[submodule "src/module/cJSON"]
	path = src/module/cJSON
	url = https://github.com/urbanspr1nter/cJSON.git
[submodule "src/module/clog"]
	path = src/module/clog
	url = https://github.com/urbanspr1nter/clog.git
